body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: aliceblue;
  margin-left: 3rem;
  margin-top: 2rem;
}

button {
  cursor: pointer;
  padding: 5px;
  font-size: 1.2rem;
}

#inc {
  background-color: lightgreen;
}
#dec {
  background-color: lightcoral;
}
